---
import BookCard from './BookCard.astro';
import type { Book } from '../types/booktype';

const books: Book[] = [
  {
    id: '1',
    title: 'The Alchemist',
    coverUrl: 'book/alchemist.jpg',
    externalUrl: 'https://www.goodreads.com/book/show/18144590-the-alchemist'
  },
  {
    id: '2',
    title: 'Finding Audrey',
    coverUrl: 'book/findingaudrey.jpg',
    externalUrl: 'https://www.goodreads.com/book/show/23305614-finding-audrey'
  },
  {
    id: '3',
    title: 'If you could see the sun',
    coverUrl: 'book/ifyoucouldseethesun.jpg',
    externalUrl: 'https://www.goodreads.com/book/show/60099660-if-you-could-see-the-sun'
  },
  {
    id: '4',
    title: 'နွေကန္တာဦး',
    coverUrl: 'book/gandar.png',
    externalUrl: 'https://www.pannsattlann.com/product/nway-kandar-oo/'
  },
  
  
 
];
---

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 justify-items-center">
  {books.map(book => <BookCard book={book} />)}
</div>

<style>
  .grid {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  @media (max-width: 640px) {
    .grid {
      justify-items: center;
    }
  }
</style>