---
import Layout from '../../layouts/Layout.astro';
import PageHeader from '../../components/common/PageHeader.astro';
import BookGrid from '../../components/books/BookGrid.astro';

---

<Layout title="Book Nook">
  <div class="pt-24 pb-12">
    <PageHeader
      title="My Books"
      description="These are some of my favourite books that I've read recently. Just click on a book to find out more!"
    />
    
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <BookGrid />
    </div>
  </div>
</Layout>